#
# Snapclient Configuration
#
CONFIG_SNAPSERVER_USE_MDNS=y
CONFIG_SNAPCLIENT_NAME="loud-esp32s3-plus"

#
# Audio Board
#
CONFIG_AUDIO_BOARD_CUSTOM=y

#
# Custom Audio Board
#
#
CONFIG_DAC_MA120X0=y

#
# DAC I2C control interface
#
CONFIG_DAC_I2C_SDA=8
CONFIG_DAC_I2C_SCL=9
CONFIG_DAC_I2C_ADDR=0x20
# end of DAC I2C control interface

#
# I2S master interface
#
CONFIG_MASTER_I2S_MCLK_PIN=-1
CONFIG_MASTER_I2S_BCK_PIN=14
CONFIG_MASTER_I2S_LRCK_PIN=15
CONFIG_MASTER_I2S_DATAOUT_PIN=16
# end of I2S master interface

#
# Merus MA120x0 interface Configuration
#
CONFIG_MA120X0_NENABLE_PIN=17
CONFIG_MA120X0_NENABLE_INVERT=y
CONFIG_MA120X0_NMUTE_PIN=18
CONFIG_MA120X0_NERR_PIN=-1
CONFIG_MA120X0_NCLIP_PIN=-1
CONFIG_MA120X0_VOL_MAX_DB=0
CONFIG_MA120X0_VOL_MIN_DB=-60

# end of Merus MA120x0 interface Configuration

#
# ESP32 DSP processor config
#
#CONFIG_USE_DSP_PROCESSOR=y

#
# Log Level
#
# CONFIG_LOG_DEFAULT_LEVEL_NONE is not set
# CONFIG_LOG_DEFAULT_LEVEL_ERROR is not set
# CONFIG_LOG_DEFAULT_LEVEL_WARN is not set
# CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
# CONFIG_LOG_DEFAULT_LEVEL_VERBOSE is not set
CONFIG_LOG_DEFAULT_LEVEL=4
CONFIG_LOG_MAXIMUM_EQUALS_DEFAULT=y
# CONFIG_LOG_MAXIMUM_LEVEL_DEBUG is not set
# CONFIG_LOG_MAXIMUM_LEVEL_VERBOSE is not set
CONFIG_LOG_MAXIMUM_LEVEL=4