#
# Snapclient Configuration
#
CONFIG_SNAPSERVER_USE_MDNS=y
CONFIG_SNAPCLIENT_NAME="ESP32-LyraT"

#
# Audio Board
#
CONFIG_ESP_LYRAT_V4_2_BOARD=y

#
# ESP32 DSP processor config
#
CONFIG_USE_DSP_PROCESSOR=y
