#
# Snapclient Configuration
#
CONFIG_SNAPSERVER_USE_MDNS=y
# CONFIG_SNAPSERVER_HOST is not set
# CONFIG_SNAPSERVER_PORT is not set
CONFIG_SNAPCLIENT_NAME="WT32-ETH01"

#
# Audio Board
#
CONFIG_AUDIO_BOARD_CUSTOM=y

#
# Custom Audio Board
#
CONFIG_DAC_PCM5102A=y

#
# I2S master interface
#
CONFIG_MASTER_I2S_MCLK_PIN=-1
CONFIG_MASTER_I2S_BCK_PIN=15
CONFIG_MASTER_I2S_LRCK_PIN=4
CONFIG_MASTER_I2S_DATAOUT_PIN=14
# end of I2S master interface

#
# TI PCM5102A interface Configuration
#
CONFIG_PCM5102A_MUTE_PIN=5
# end of TI PCM5102A interface Configuration

#
# ESP32 DSP processor config
#
CONFIG_USE_DSP_PROCESSOR=y
CONFIG_SNAPCLIENT_USE_SOFT_VOL=y
# end of ESP32 DSP processor config

#
# Snapclient Ethernet Configuration
#
CONFIG_ENV_GPIO_RANGE_MIN=0
CONFIG_ENV_GPIO_RANGE_MAX=39
CONFIG_ENV_GPIO_IN_RANGE_MAX=39
CONFIG_ENV_GPIO_OUT_RANGE_MAX=33
CONFIG_SNAPCLIENT_USE_INTERNAL_ETHERNET=y
# CONFIG_SNAPCLIENT_ETH_PHY_IP101 is not set
# CONFIG_SNAPCLIENT_ETH_PHY_RTL8201 is not set
CONFIG_SNAPCLIENT_ETH_PHY_LAN87XX=y
# CONFIG_SNAPCLIENT_ETH_PHY_DP83848 is not set
# CONFIG_SNAPCLIENT_ETH_PHY_KSZ80XX is not set
CONFIG_SNAPCLIENT_ETH_MDC_GPIO=23
CONFIG_SNAPCLIENT_ETH_MDIO_GPIO=18
CONFIG_SNAPCLIENT_ETH_PHY_RST_GPIO=16
CONFIG_SNAPCLIENT_ETH_PHY_ADDR=1
# CONFIG_SNAPCLIENT_USE_SPI_ETHERNET is not set
# end of Snapclient Ethernet Configuration