#
# Snapclient Configuration
#
CONFIG_SNAPCLIENT_USE_TIMEFILTER=y
CONFIG_SNAPSERVER_USE_MDNS=y
# CONFIG_SNAPCLIENT_CONNECT_IPV6 is not set
CONFIG_SNAPCLIENT_NAME="esp-snapclient"

#
# Audio Board
#
CONFIG_AUDIO_BOARD_CUSTOM=y

#
# Custom Audio Board
#
CONFIG_DAC_ADAU1961=y

#
# DAC I2C control interface
#
CONFIG_DAC_I2C_SDA=12
CONFIG_DAC_I2C_SCL=14
CONFIG_DAC_I2C_ADDR=0x70
# end of DAC I2C control interface

#
# I2S master interface
#
CONFIG_MASTER_I2S_MCLK_PIN=3
CONFIG_MASTER_I2S_BCK_PIN=15
CONFIG_MASTER_I2S_LRCK_PIN=13
CONFIG_MASTER_I2S_DATAOUT_PIN=4
# end of I2S master interface

#
# ESP32 DSP processor config
#
# CONFIG_USE_DSP_PROCESSOR is not set
# end of ESP32 DSP processor config

#
# Snapclient Ethernet Configuration
#
CONFIG_ENV_GPIO_RANGE_MIN=0
CONFIG_ENV_GPIO_RANGE_MAX=39
CONFIG_ENV_GPIO_IN_RANGE_MAX=39
CONFIG_ENV_GPIO_OUT_RANGE_MAX=33
CONFIG_SNAPCLIENT_USE_INTERNAL_ETHERNET=y
# CONFIG_SNAPCLIENT_ETH_PHY_IP101 is not set
# CONFIG_SNAPCLIENT_ETH_PHY_RTL8201 is not set
CONFIG_SNAPCLIENT_ETH_PHY_LAN87XX=y
# CONFIG_SNAPCLIENT_ETH_PHY_DP83848 is not set
# CONFIG_SNAPCLIENT_ETH_PHY_KSZ80XX is not set
CONFIG_SNAPCLIENT_ETH_MDC_GPIO=23
CONFIG_SNAPCLIENT_ETH_MDIO_GPIO=18
CONFIG_SNAPCLIENT_ETH_PHY_RST_GPIO=17
CONFIG_SNAPCLIENT_ETH_PHY_ADDR=0
# CONFIG_SNAPCLIENT_USE_SPI_ETHERNET is not set
# end of Snapclient Ethernet Configuration