#
# Snapclient Configuration
#
CONFIG_SNAPSERVER_USE_MDNS=y
CONFIG_SNAPCLIENT_NAME="hifi-esp32-plus"

#
# Audio Board
#
CONFIG_AUDIO_BOARD_CUSTOM=y

#
# Custom Audio Board
#
CONFIG_DAC_PCM51XX=y

#
# DAC I2C control interface
# This is pinout for Rev J1, rev J0 has I2C pins swapped
#
CONFIG_DAC_I2C_SDA=21
CONFIG_DAC_I2C_SCL=27
CONFIG_DAC_I2C_ADDR=0x4D
#
#   Rev J0 pinout below
#
# CONFIG_DAC_I2C_SDA=27
# CONFIG_DAC_I2C_SCL=21
# end of DAC I2C control interface

#
# I2S master interface
#
CONFIG_MASTER_I2S_MCLK_PIN=0
CONFIG_MASTER_I2S_BCK_PIN=26
CONFIG_MASTER_I2S_LRCK_PIN=25
CONFIG_MASTER_I2S_DATAOUT_PIN=22

#
# TI PCM51XX interface Configuration
#
CONFIG_PCM51XX_MUTE_PIN=13
# end of TI PCM51XX interface Configuration

#
# TI PCM51XX DSP Support
#
CONFIG_DAC_PCM51XX_EQ_SUPPORT=y

#
# ESP32 DSP processor config
#
CONFIG_USE_DSP_PROCESSOR=y
# end of ESP32 DSP processor config
