#
# Snapclient Configuration
#
CONFIG_SNAPSERVER_USE_MDNS=y
CONFIG_SNAPCLIENT_NAME="hifi-esparagus"

#
# Audio Board
#
CONFIG_AUDIO_BOARD_CUSTOM=y

#
# Custom Audio Board
#
CONFIG_DAC_PCM5102A=y

#
# I2S master interface
#
CONFIG_MASTER_I2S_MCLK_PIN=0
CONFIG_MASTER_I2S_BCK_PIN=26
CONFIG_MASTER_I2S_LRCK_PIN=25
CONFIG_MASTER_I2S_DATAOUT_PIN=22

#
# ESP32 DSP processor config
#
CONFIG_USE_DSP_PROCESSOR=y
CONFIG_SNAPCLIENT_USE_SOFT_VOL=y
